body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  padding: 5px;
  margin: 5px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}
button:hover{
  background-color: rgb(102, 155, 155);
  color: white;
}
#res{
  width: 150px;
  height: 30px;
  margin-top: 30px;
  justify-items: center;
}
.parent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 40vw;
  background-color:rgb(194, 207, 207);
  border: 2px solid black;
  margin: 5px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  
  
}
body{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  
}
.inp{
 margin-top: 5px;
 height: 20px;
 border: none;
 border-radius: 8px;
  
}
